* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

h3 {
    font-size: 36px;
    text-align: center;
    margin: 0 0 45px 0;
}

.roxo{
    color: #3c184e;
    font-family: 'sans-serif';
}

.branco{
    color: #fff;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    padding: 120px 80px;
<<<<<<< HEAD:estilo.css
    background-image: url('img/banner-topo.jpg');
=======
    background-image: url("img/banner-topo.jpg");
>>>>>>> 1617f0fcc59bfda02d53fdfb16046d6105d4c1a5:css/estilo.css
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.marca{
    max-width: 250px;
}

.marca .nome-loja{
    font-size: 35px;
    margin: 0 0 5px 0;
}

.logo-patas {
    width: 30px;
    margin-right: 5px;
}

.marca .slogan {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.outdoor{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffff94;
    box-shadow: 0 8px 32px ;
    box-sizing: border-box;
}

.outdoor h1{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 40px 0;   
}

.outdoor p{
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.outdoor .rede-whatsapp{
    width: 20px;
    margin: 0 0 0 5px;
}

.servico {
    width: 100%;
    padding: 120px 80px;
    box-sizing: border-box;
}

.servico .lista {
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.servico .lista li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.topico {
    font-weight: 700;
    font-style: italic;
}

.servico .galeria {
    max-width: 800px;
    margin: 0 auto;
}

.servico .galeria img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.faixa {
    width: 100%;
    text-align: center;
    background-color: #3c184e;
    padding: 120px 80px;
    box-sizing: border-box;
}

.faixa p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    text-align: center;
}

.faixa .redes-sociais img{
    margin: 0 20px;
    width: 50px;
    height: 50px;
}

.logomarcas {
    width: 100%;
    padding: 120px 80px;
    box-sizing: border-box;
}

.logomarcas .marcas-parceiras {
    max-width: 800px;
    margin: 0 auto;
}

.logomarcas .marcas-parceiras img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

.mapa {
    width: 100%;
    padding: 120px 80px;
    text-align: center;
    box-sizing: border-box;
}

.mapa p {
    font-size: 20px;
    text-align: center;
    margin: 0 0 45px 0;
}

.mapa iframe {
    width: 800px;
    height: 450px;
}

.rodape {
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
}

.rodape p{ 
    font-size: 12px;
    text-align: center;
}

